* {
  margin: 0px;
  padding: 0px;
}

body {
  background: radial-gradient(circle, #fff 20%, #ccc);
}

#site_wrapper {
  width: 80%;
  margin: 40px auto;
}

#input_wrapper {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

#search {
  padding: 10px 10px;
  border: 2px solid black;
  font-size: 16px;
  border-radius: 7px;
  background: linear-gradient(#ccc, #fff);
  color: darkcyan;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

a {
  border: 1px solid gray;
  text-decoration: none;
  color: darkcyan;
  flex: 1 1 15%;
  margin: 5px;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
}

img {
  width: 100%;
  height: 130px;
}
